@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;700&display=swap');
:root {
    --green0: #555f4c;
    --green1: #1A8873;
    --green4: #D5E7C0;
}

body {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    background-color: #cccccc;
}

a {
    text-decoration: none;
}

body>.nav-bar {
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    z-index: 99;
    width: 100%;
    transition: ease-in-out 0.2s;
    /* background-color: #D5E7C0; */
}

.scrolled {
    background-color: var(--green4);
}

body>.nav-bar>ul {
    display: flex;
    list-style-type: none;
    gap: 100px;
    align-items: center;
}

body>.nav-bar>ul>li>a>img {
    width: 300px;
    padding-right: 50px;
}

body>.nav-bar>ul>li>a {
    font-weight: 700;
    font-size: 18px;
    color: var(--green0);
    transition: ease-out 0.1s;
}

body>.nav-bar>ul>li>a:hover {
    color: var(--green1);
}

body>.hero {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #d5e7c1 0%, rgba(213, 231, 192, 0.00) 38.36%, rgba(209, 230, 185, 0) 62.41%, #4d7a18 100%);
    align-items: center;
    align-content: center;
    /* height: 720px; */
}

body>.hero>h1 {
    color: #000000;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 150px;
}

body>.hero>p {
    color: #656A61;
    text-align: center;
    font-family: Catamaran;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    /* 150% */
}

body>.hero>.decoration {
    width: 100%;
    height: auto;
}

body>.benefit {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    /* background-color: #1A8873; */
}