@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --header_bg: #D5E7C0;
  --text_color: #333333;
  --menu_color:#656A61;
  --menu_hover_color: #1A8873;
  --menu_bg: var(--text_color);
}

.logo {
    margin-left: 50px;
  margin-right: 50px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  background-color: var(--header_bg);
  /* word-spacing: 40px; */
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 2px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.area_menu,
.area_hamburger_menu {
  display: inline-block;
}

.menu {
    margin-left: 10px;
    font: 1.2rem "Poppins";
    color: var(--menu_color);
    display: inline-block;
}

.menu::after {
    content: "";
    border-bottom: 1px solid var(--menu_hover_color);
    display: block;
    padding-bottom: 0.2rem;
    transform: scaleX(0);
    transition: 0.2s;
  }

  .menu:hover {
    color: var(--menu_hover_color);
  }

  .menu:hover::after {
    transform: scaleX(1);
  }

  .hamburger_menu {
    display: none;
    font: 1.2rem "Poppins";
    color: var(--menu_color);
  }

  /* responsive */
  @media (max-width: 768px) {
    .hamburger_menu {
      display: inline-block;
    }
    .area_menu {
      display: block;
      position: absolute;
      background-color: var(--menu_bg);
      width: 20rem;
      height: 100vh;
      right: -100%;
      top: 100%;
      transition: 0.5s;
    }
    .area_menu.open {
      right: 0;
    }
    .menu {
      display: block;
      margin: 1rem;
    }

    .menu::after {
      transform-origin: 0;
    }
    .menu:hover::after {
      transform: scaleX(0.5);
    }
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #ecf2e4;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: green;
}
.heading p{
    font-size: 30px;
    color: darkgreen;
    margin-bottom: 40px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.About{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
}
.About-image{
   flex: auto;
    align-items: center;
    margin-right: px;
    overflow: hidden;
}
.About-image img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.7s ease;
}
.About-image:hover img{
    transform: scale(1.3);
}
.About-content{
    flex: 1;
}
.About-content h2{
    font-size: 23px;
    margin-bottom: 5px;
    color: darkgreen;
}
.About-content p{
    font-size: 15px;
    line-height: 1.2;
    font-style: unset;
}
/* .About-content .misi{
    display: inline-block;
    float: none;
    padding: 15px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    border-radius: 25%;
    margin-top: 15px;
    transition: 0.4s ease;
}
.About-content .misi:hover{
    background-color: #3e8e41; */
/* } */
@media screen and (max-width: 768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 40px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .About{
        padding: 20px;
        flex-direction: column;
    }
    .About-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .About-content p{
        padding: 0px;
        font-size: 16px;
    }
    /* .About-content .misi{
        font-size: 20px ;
    } */

}

.heading2{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 60px auto;
}
.heading2 h1{
    font-size: 40px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 15%;
    background-color:#7CC6A6;
}
.heading2 h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;   
}
.heading2 p{
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
}

.heading3{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading3 h1{
    font-size: 40px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 15%;
    margin-top: 15px;
    background-color: #7CC6A6;
}
.heading3 h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;   
}
.heading3 p{
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
}