@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500;700&display=swap");
:root {
  --green0: #656a61;
  --green1: #1a8873;
  --green4: #d5e7c0;
  --bgLight: #ffff;
  --bgDark: #252525;
  --bgDark50: #464646;
  --textLight: #ffff;
  --txtDark: #252525;
}

body {
  margin: 0;
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
  background-color: var(--bgLight);
  color: var(--txtDark);
  overflow-x: hidden;
}

.dark {
  background-color: var(--bgDark);
  color: var(--textLight);
}

a {
  text-decoration: none;
}

header > .nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: ease-in-out 0.2s;
  overflow: hidden;
  padding-left: 50px;
  overflow: hidden;
  background-color: #D5E7C0;
}

:is(body.dark) header > .nav-bar.scrolled {
  background-color: var(--bgDark50);
}
header > .nav-bar.scrolled {
  background-color: var(--green4);
}

.togle-bar {
  color: var(--green0);
  margin-right: 20px;
}

.togle-dark-mode {
  color: var(--green0);
  margin-right: 100px;
}

body.dark > header > .nav-bar > ul {
  background-color: var(--bgDark50);
}

header > .nav-bar.responsiv > ul {
  display: block;
  display: flex;
  height: 100%;
}

header > .nav-bar > ul {
  position: fixed;
  display: none;
  flex-direction: column;
  right: 0;
  top: -15px;
  background-color: var(--green4);
  list-style-type: none;
  gap: 50px;
  align-items: end;
  padding: 100px 50px 50px 50px;
  z-index: -1;
}
.nav-logo {
  height: auto;
}
.nav-logo > img {
  width: 300px;
  padding-right: 50px;
}

:is(body.dark) header > .nav-bar > ul > li > a {
  color: var(--textLight);
}
header > .nav-bar > ul > li > a {
  font-weight: 700;
  font-size: 18px;
  color: var(--green0);
  padding: 5px 10px 5px 10px;
  border-bottom: 3px solid transparent;
  transition: ease-out 0.1s;
}
header > .nav-bar > ul > li > a.active {
  border-bottom: 3px solid var(--green1);
}

header > .nav-bar > ul > li > a:hover {
  color: var(--green1);
}

  /* responsiv */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header > .nav-bar {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body > .benefit {
    grid-template-columns: repeat(2, 0fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body > .benefit {
    grid-template-columns: repeat(3, 0fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body > .benefit {
    grid-template-columns: repeat(3, 0fr);
  }
  .togle-bar {
    color: var(--green0);
    display: none;
  }
  body.dark > header > .nav-bar > ul {
    background-color: transparent;
  }

  header > .nav-bar.responsiv > ul,
  header > .nav-bar > ul {
    position: static;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 0px;
    margin-right: 100px;
  }
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #fafafa;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: green;
}
.heading p{
    font-size: 30px;
    color: darkgreen;
    margin-bottom: 40px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.About{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
}
.About-image{
   flex: auto;
    align-items: center;
    margin-right: px;
    overflow: hidden;
}
.About-image img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.7s ease;
}
.About-image:hover img{
    transform: scale(1.3);
}
.About-content{
    flex: 1;
}
.About-content h2{
    font-size: 23px;
    margin-bottom: 5px;
    color: darkgreen;
}
.About-content p{
    font-size: 15px;
    line-height: 1.2;
    font-style: unset;
}
/* .About-content .misi{
    display: inline-block;
    float: none;
    padding: 15px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    border-radius: 25%;
    margin-top: 15px;
    transition: 0.4s ease;
}
.About-content .misi:hover{
    background-color: #3e8e41; */
/* } */
@media screen and (max-width: 768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 40px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .About{
        padding: 20px;
        flex-direction: column;
    }
    .About-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .About-content p{
        padding: 0px;
        font-size: 16px;
    }
    /* .About-content .misi{
        font-size: 20px ;
    } */

}

.heading2{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 60px auto;
}
.heading2 h1{
    font-size: 40px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 15%;
    background-color:#7CC6A6;
}
.heading2 h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;   
}
.heading2 p{
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
}

.heading3{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading3 h1{
    font-size: 40px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 15%;
    margin-top: 15px;
    background-color: #7CC6A6;
}
.heading3 h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;   
}
.heading3 p{
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
}

.footer {
    background-color: #edf3e2;
    color: rgb(15, 14, 14);
  }
  