*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f2f2f2;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: green;
}
.heading p{
    font-size: 30px;
    color: darkgreen;
    margin-bottom: 40px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.About{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.About-image{
    flex:1 ;
    align-items: center;
    margin-right: 60px;
    overflow: hidden;
}
.About-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.7s ease;
}
.About-image:hover img{
    transform: scale(1.3);
}
.About-content{
    flex: 1;
}
.About-content h2{
    font-size: 23px;
    margin-bottom: 5px;
    color: darkgreen;
}
.About-content p{
    font-size: 15px;
    line-height: 1.2;
    font-style: unset;
}
.About-content .misi{
    display: inline-block;
    padding: 15px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    border-radius: 25%;
    margin-top: 15px;
    transition: 0.4s ease;
}
.About-content .misi:hover{
    background-color: #3e8e41;
}
@media screen and (max-width: 768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 40px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .About{
        padding: 20px;
        flex-direction: column;
    }
    .About-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .About-content p{
        padding: 0px;
        font-size: 16px;
    }
    .About-content .misi{
        font-size: 20px ;
    }
}